body {
    margin: 4%;
}

h5 {
    display: none;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    position: fixed; right: 0; bottom: 0;
width: auto; height: auto; z-index: -100;
background: url(Images/Hibiscus/Blooming.mp4) no-repeat;
background-size: cover;
  }


#lower_section {
    column-count: 2;
    column-gap: 10%;
    padding: 2px;
    column-span: all;
    margin:auto;
    justify-content: center;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
}

  
h1 {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
      text-align:center;
      text-decoration: underline;
      text-decoration-color: #BF0426;
      color:white;
      text-decoration-thickness: 10px;
}

P {
    margin: 2%;
    text-align: center;
    color: white;
    font-size: large;
}

nav ul {
    list-style-type: none;
    margin: 0% auto;
    align-self: center;
    text-align: center;
}

nav li {
    display: inline-block;
    align-self: center;
}

nav a {
    text-decoration:wavy;
    color: white;
    padding: 5px 10px;
    align-self: center;
    text-align: center;        
    font-family: "Unkempt", serif;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
}

a:hover {
    font-size: larger;
    color: #D97904;
}

#hibpng {
    width: 30%;
    height: 10%;
    margin: auto;
}

#Red {
    width: 40%;
    margin: auto;
}

#Pink {
    width: 40%;;
}

section {
    width: 20%;
    padding: 0%;
    margin: 3% auto;
    border-style: solid;
    display: flex;
}

aside {
    width: 70%;
    padding: 0%;
    margin: 0% auto;
}

h2 {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px #400101;
      font-size: 150%;
      text-align:left;
      text-decoration: underline;
      text-decoration-color:white;
      text-underline-offset: 5%;
      color: #A60303;
      text-align: center;
}

/*Mobile Styles*/
@media (min-width: 320px) {
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        position: fixed; right: 0; bottom: 0;
    width: auto; height: auto; z-index: -100;
    background: url(Images/Hibiscus/Blooming.mp4) no-repeat;
    background-size: cover;
      }
    
    
    #lower_section {
        column-count: 2;
        column-gap: 10%;
        padding: 2px;
        column-span: all;
        margin:auto;
        justify-content: center;
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 4px;
        grid-auto-flow: column;
    }
    
      
    h1 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 130%;
          text-align:center;
          text-decoration: underline;
          text-decoration-color:#BF0426;
          color:white;
          text-decoration-thickness: 10px;
    }
    
    P {
        margin: 2%;
        text-align: center;
        color: white;
        font-size: 60%;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0% auto;
        align-self: center;
        text-align: center;
    }
    
    nav li {
        display: inline-block;
        align-self: center;
    }
    
    nav a {
        text-decoration:wavy;
        color: white;
        padding: 5px 10px;
        align-self: center;
        text-align: center;        
        font-family: "Unkempt", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 70%;
    }
    
    a:hover {
        font-size: larger;
        color: #D97904;
    }
    
    #hibpng {
        width: 30%;
        height: 10%;
        margin: auto;
    }
    
    #Red {
        width: 40%;
        margin: auto;
    }

    ul {
        list-style-type: none;
        margin: 0% auto;
        align-self: center;
        text-align: center;
        text-decoration:wavy;
        color: white;
        padding: 5px 10px;
        align-self: center;
        text-align: center;        
        font-family: "Unkempt", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20%;
      }
    
    #Pink {
        width: 40%;;
    }
    
    section {
        width: 70%;
        padding: 0%;
        margin: 3% auto;
        border-style: solid;
        display: flex;
    }
    
    aside {
        width: 70%;
        padding: 0%;
        margin: 0% auto;
    }
    
    h2 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 2px 2px #400101;
          font-size: 150%;
          text-align:left;
          text-decoration: underline;
          text-decoration-color:white;
          text-underline-offset: 5%;
          color: #A60303;
          text-align: center;
    }
}    

/*Tablet Styles*/
@media (min-width: 768px) {
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        position: fixed; right: 0; bottom: 0;
    width: auto; height: auto; z-index: -100;
    background: url(Images/Hibiscus/Blooming.mp4) no-repeat;
    background-size: cover;
      }
    
    
    #lower_section {
        column-count: 2;
        column-gap: 10%;
        padding: 2px;
        column-span: all;
        margin:auto;
        justify-content: center;
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 4px;
        grid-auto-flow: column;
    }
    
      
    h1 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
          text-align:center;
          text-decoration: underline;
          text-decoration-color: #BF0426;
          color:white;
          text-decoration-thickness: 10px;
    }
    
    P {
        margin: 2%;
        text-align: center;
        color: white;
        font-size: 140%;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0% auto;
        align-self: center;
        text-align: center;
    }
    
    nav li {
        display: inline-block;
        align-self: center;
    }
    
    nav a {
        text-decoration:wavy;
        color: white;
        padding: 5px 10px;
        align-self: center;
        text-align: center;        
        font-family: "Unkempt", serif;
        font-weight: 700;
        font-style: normal;
        font-size: x-large;
    }
    
    a:hover {
        font-size: larger;
        color: #D97904;
    }
    
    #hibpng {
        width: 30%;
        height: 10%;
        margin: auto;
    }
    
    #Red {
        width: 40%;
        margin: auto;
    }
    
    #Pink {
        width: 40%;;
    }
    
    section {
        width: 70%;
        padding: 0%;
        margin: 3% auto;
        border-style: solid;
        display: flex;
    }
    
    aside {
        width: 70%;
        padding: 0%;
        margin: 0% auto;
    }
    
    h2 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 2px 2px #400101;
          font-size: 190%;
          text-align:left;
          text-decoration: underline;
          text-decoration-color:white;
          text-underline-offset: 5%;
          color: #A60303;
          text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0% auto;
        align-self: center;
        text-align: center;
        text-decoration:wavy;
        color: white;
        padding: 5px 10px;
        align-self: center;
        text-align: center;        
        font-family: "Unkempt", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 100%;
      }

    

}


/*Desktop Styles*/
@media (min-width: 1200px) {
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        position: fixed; right: 0; bottom: 0;
    width: auto; height: auto; z-index: -100;
    background: url(Images/Hibiscus/Blooming.mp4) no-repeat;
    background-size: cover;
      }
    
    
    #lower_section {
        column-count: 2;
        column-gap: 10%;
        padding: 2px;
        column-span: all;
        margin:auto;
        justify-content: center;
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 4px;
        grid-auto-flow: column;
    }
    
      
    h1 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
          text-align:center;
          text-decoration: underline;
          text-decoration-color: #BF0426;
          color:white;
          text-decoration-thickness: 10px;
    }
    
    P {
        margin: 2%;
        text-align: center;
        color: white;
        font-size: large;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0% auto;
        align-self: center;
        text-align: center;
    }
    
    nav li {
        display: inline-block;
        align-self: center;
    }
    
    nav a {
        text-decoration:wavy;
        color: white;
        padding: 5px 10px;
        align-self: center;
        text-align: center;        
        font-family: "Unkempt", serif;
        font-weight: 700;
        font-style: normal;
        font-size: x-large;
    }
    
    a:hover {
        font-size: larger;
        color: #D97904;
    }
    
    #hibpng {
        width: 30%;
        height: 10%;
        margin: auto;
    }
    
    #Red {
        width: 40%;
        margin: auto;
    }
    
    #Pink {
        width: 40%;;
    }
    
    section {
        width: 40%;
        padding: 0%;
        margin: 3% auto;
        border-style: solid;
        display: flex;
    }
    
    aside {
        width: 70%;
        padding: 0%;
        margin: 0% auto;
    }
    
    h2 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 2px 2px #400101;
          font-size: 150%;
          text-align:left;
          text-decoration: underline;
          text-decoration-color:white;
          text-underline-offset: 5%;
          color: #A60303;
          text-align: center;
    }
    ul {
        list-style-type: none;
        margin: 0% auto;
        align-self: center;
        text-align: center;
        text-decoration:wavy;
        color: white;
        padding: 5px 10px;
        align-self: center;
        text-align: center;        
        font-family: "Unkempt", serif;
        font-weight: 700;
        font-style: normal;
        font-size: x-large;
      }
}