
body {
    background-color: #8DA658;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: auto;
    }
h1 {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
      text-align:center;
      text-decoration: underline;
      text-decoration-color:#301D59;
      color:white;
      text-decoration-thickness: 10px;
}

h3 {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    font-size: 190%;
      text-align:center;
      text-decoration: underline;
      text-decoration-color:#CEA7D9;
      color:white;
      text-decoration-thickness: 10px;
      text-shadow: 2px 2px #301D59;
}

P {
    margin: 2%;
    text-align: center;
    color: white;
    font-size: large;
    font-size: 150%;
}

nav ul {
    list-style-type: none;
    margin: 0% auto;
    align-self: center;
    font-size: 200%;
    text-align: center;
}

nav li {
    display: inline-block;
    align-self: center;
}

nav a {
    text-decoration:wavy;
    color: white;
    padding: 5px 10px;
    align-self: center;
    text-align: center;        
    font-family: "Unkempt", serif;
    font-weight: 700;
    font-size: larger;
    font-style: normal;
    font-size: 200%;
}

#lower_section {
    column-count: 2;
    padding: 2px;
    column-rule: 2px solid #201B40;
    align-content: center;
    margin: 5%;
}


nav a:hover {
    font-size:xx-large;
    color: #2F1073;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    width: 100%;
    border-style:solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #F2C84B;
    padding: 2%;
   }

.img {
    width: 30%;
}

#LAV {
    width: 100%;
}

p#bttm {
    text-align: center;
}

article {
display: inline;
}

#Lemon {
    width: 120%;
    flex-direction: column;
}

#Field {
    width: 60%;
    margin:auto;
}

#lavfield {
    margin: 10%;
    text-align: left;
    font-size: 190%;
}

#img {
    padding: 10%;
    margin: 10%;
}

h2 {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px #301D59;
      font-size: 190%;
      text-align:left;
      text-decoration: underline;
      text-decoration-color:white;
      text-underline-offset: 5%;
      color: white;
      text-align: center;
}

P {
    font-size: 200%;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

#standalone {
    margin: 20%;
    height: auto;
}

#Cheese {
    width: 80%;
}

#BlueLav {
    width: 130%
}

#CheeseCake {
    width: 90%;
}

a:link {
    text-decoration:wavy;
    color: white;
    padding: 5px 10px;
    align-self: center;
    text-align: center;        
    font-family: "Unkempt", serif;
    font-weight: 700;
    font-size: larger;
    font-style: normal;
}

a:hover {
    font-size:x-large;
    color: #2F1073;
}


/*Mobile Styles*/
@media (min-width: 320px) {
    h1 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
          text-align:center;
          text-decoration: underline;
          text-decoration-color:#301D59;
          color:white;
          text-decoration-thickness: 10px;
    }
    
    h3 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
        font-size: xx-large;
        font-size: 100%;
          text-align:center;
          text-decoration: underline;
          text-decoration-color:#CEA7D9;
          color:white;
          text-decoration-thickness: 10px;
          text-shadow: 2px 2px #301D59;
    }
    
    P {
        margin: 2%;
        text-align: center;
        color: white;
        font-size: large;
        font-size: 90%;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0% auto;
        align-self: center;
        font-size: 80%;
        text-align: center;
        padding: 0%;
    }
    
    nav li {
        display: inline-block;
        align-self: center;
    }
    
    nav a {
        text-decoration:wavy;
        color: white;
        padding: 5px 10px;
        align-self: center;
        text-align: center;        
        font-family: "Unkempt", serif;
        font-weight: 700;
        font-size: larger;
        font-style: normal;
        font-size: 80%;
    }
    
    #lower_section {
        column-count: 2;
        padding: 2px;
        column-rule: 2px solid #201B40;
        align-content: center;
        margin: 5%;
    }
    
    
    nav a:hover {
        font-size:xx-large;
        color: #2F1073;
    }
    
    .container {
        grid-template-columns: 1fr 1fr;
        column-gap: 2px;
        width: 100%;
        border-style:solid;
        border-width: 3px;
        border-radius: 5px;
        border-color: #F2C84B;
        padding: 2%;
       }
    
    .img {
        width: 30%;
    }
    
    #LAV {
        width: 70%;
    }
    
    p#bttm {
        text-align: center;
    }
    
    article {
    display: inline;
    }
    
    #Lemon {
        width: 120%;
        flex-direction: column;
    }
    
    #Field {
        width: 100%;
        margin:auto;
    }
    
    #lavfield {
        margin: 10%;
        text-align: left;
        font-size: 80%;
    }
    
    #img {
        padding: 10%;
        margin: 10%;
    }
    
    h2 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 2px 2px #301D59;
          font-size: 150%;
          text-align:left;
          text-decoration: underline;
          text-decoration-color:white;
          text-underline-offset: 5%;
          color: white;
          text-align: center;
    }
    
    P {
        font-size: 80%;
        font-family: "Lexend", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    
    }
    
    #standalone {
        margin: 20%;
        height: auto;
    }
    
    #Cheese {
        width: 80%;
    }
    
    #BlueLav {
        width: 130%
    }
    
    #CheeseCake {
        width: 90%;
    }
    
    a:link {
        text-decoration:wavy;
        color: white;
        padding: 5px 10px;
        align-self: center;
        text-align: center;        
        font-family: "Unkempt", serif;
        font-weight: 700;
        font-size: medium;
        font-style: normal;
    }
    
}

/*Tablet Styles*/
@media (min-width: 768px) {
    body {
        background-color: #8DA658;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: auto;
        }

    h1 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
          text-align:center;
          text-decoration: underline;
          text-decoration-color:#301D59;
          color:white;
          text-decoration-thickness: 10px;
          font-size: 200%;
    }
    
    h3 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
        font-size: xx-large;
        font-size: 180%;
          text-align:center;
          text-decoration: underline;
          text-decoration-color:#CEA7D9;
          color:white;
          text-decoration-thickness: 10px;
          text-shadow: 2px 2px #301D59;
    }
    
    P {
        margin: 2%;
        text-align: center;
        color: white;
        font-size: large;
        font-size: 100%;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0% auto;
        align-self: center;
        font-size: 100%;
        text-align: center;
        padding: 0%;
    }
    
    nav li {
        display: inline-block;
        align-self: center;
    }
    
    nav a {
        text-decoration:wavy;
        color: white;
        padding: 5px 10px;
        align-self: center;
        text-align: center;        
        font-family: "Unkempt", serif;
        font-weight: 700;
        font-size: larger;
        font-style: normal;
        font-size: 100%;
    }
    
    #lower_section {
        column-count: 2;
        padding: 2px;
        column-rule: 2px solid #201B40;
        align-content: center;
        margin: 5%;
    }
    
    
    nav a:hover {
        font-size:xx-large;
        color: #2F1073;
    }
    
    .container {
        grid-template-columns: 1fr 1fr;
        column-gap: 2px;
        width: 100%;
        border-style:solid;
        border-width: 3px;
        border-radius: 5px;
        border-color: #F2C84B;
        padding: 2%;
       }
    
    .img {
        width: 30%;
    }
    
    #LAV {
        width: 90%;
    }
    
    p#bttm {
        text-align: center;
    }
    
    article {
    display: inline;
    }
    
    #Lemon {
        width: 120%;
        flex-direction: column;
    }
    
    #Field {
        width: 100%;
        margin:auto;
    }
    
    #lavfield {
        margin: 10%;
        text-align: left;
        font-size: 130%;
    }
    
    #img {
        padding: 10%;
        margin: 10%;
    }
    
    h2 {
        font-family: "Sigmar", serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 2px 2px #301D59;
          font-size: 180%;
          text-align:left;
          text-decoration: underline;
          text-decoration-color:white;
          text-underline-offset: 5%;
          color: white;
          text-align: center;
    }
    
    P {
        font-size: 80%;
        font-family: "Lexend", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    
    }
    
    #standalone {
        margin: 20%;
        height: auto;
    }
    
    #Cheese {
        width: 80%;
    }
    
    #BlueLav {
        width: 130%
    }
    
    #CheeseCake {
        width: 90%;
    }
    
    a:link {
        text-decoration:wavy;
        color: white;
        padding: 5px 10px;
        align-self: center;
        text-align: center;        
        font-family: "Unkempt", serif;
        font-weight: 700;
        font-size: 140%;
        font-style: normal;
    }
    
}

/*Desktop Styles*/
@media (min-width: 1200px) {
h1 {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
      text-align:center;
      text-decoration: underline;
      text-decoration-color:#301D59;
      color:white;
      text-decoration-thickness: 10px;
}

h3 {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    font-size: 190%;
      text-align:center;
      text-decoration: underline;
      text-decoration-color:#CEA7D9;
      color:white;
      text-decoration-thickness: 10px;
      text-shadow: 2px 2px #301D59;
}

P {
    margin: 2%;
    text-align: center;
    color: white;
    font-size: large;
    font-size: 180%;
}

nav ul {
    list-style-type: none;
    margin: 0% auto;
    align-self: center;
    font-size: 150%;
    text-align: center;
}

nav li {
    display: inline-block;
    align-self: center;
}

nav a {
    text-decoration:wavy;
    color: white;
    padding: 5px 10px;
    align-self: center;
    text-align: center;        
    font-family: "Unkempt", serif;
    font-weight: 700;
    font-size: larger;
    font-style: normal;
    font-size: 200%;
}

#lower_section {
    column-count: 2;
    padding: 2px;
    column-rule: 2px solid #201B40;
    align-content: center;
    margin: 5%;
}


nav a:hover {
    font-size:xx-large;
    color: #2F1073;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    width: 100%;
    border-style:solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #F2C84B;
    padding: 2%;
   }

.img {
    width: 30%;
}

#LAV {
    width: 100%;
}

p#bttm {
    text-align: center;
}

article {
display: inline;
}

#Lemon {
    width: 120%;
    flex-direction: column;
}

#Field {
    width: 30%;
    margin:auto;
}

#lavfield {
    margin: 10%;
    text-align: left;
    font-size: 190%;
}

#img {
    padding: 10%;
    margin: 10%;
}

h2 {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px #301D59;
      font-size: 190%;
      text-align:left;
      text-decoration: underline;
      text-decoration-color:white;
      text-underline-offset: 5%;
      color: white;
      text-align: center;
}

P {
    font-size: 200%;
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

#standalone {
    margin: 20%;
    height: auto;
}

#Cheese {
    width: 80%;
}

#BlueLav {
    width: 130%
}

#CheeseCake {
    width: 90%;
}

a:link {
    text-decoration:wavy;
    color: white;
    padding: 5px 10px;
    align-self: center;
    text-align: center;        
    font-family: "Unkempt", serif;
    font-weight: 700;
    font-size: 160%;
    font-style: normal;
}

a:hover {
    font-size:x-large;
    color: #2F1073;
}
}